{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand me-2" href="{% url 'home' %}">
            <img
                    src="https://yt3.googleusercontent.com/cLOWEn8IJcc3L2Dg8DcAi2Yb8qj3vRW4VcgCJFrvuvwn8XFR_dHq2ZX_oeCClKjuLEuxdqbHmg=s900-c-k-c0x00ffffff-no-rj"
                    height="50"
                    alt="Najot Ta'lim"
                    loading="lazy"
                    style="margin-top: -1px;"
            />
            Najot Ta'lim
        </a>

        <button
                data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Asosiy Menyu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'addCourse' %}">Kurs qo'shish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'addLesson' %}">Vazifa qo'shish</a>
                </li>
            </ul>

            <div class="d-flex align-items-center">
                <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
                    Kirish
                </button>
                <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                    Ro'yxatdan o'tish
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar -->